@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";
@import "leaflet/dist/leaflet.css";


.leaflet-control-geosearch form input {
  color: black !important;
  background: white !important;
  border: 1px solid #ccc !important;
  padding: 6px 10px;
  font-size: 14px;
}

.leaflet-control-geosearch .results {
  background: white !important;
  color: black !important;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999; /* keep above map */
}

.leaflet-control-geosearch .results > * {
  padding: 6px 10px;
  cursor: pointer;
}

.leaflet-control-geosearch .results > *:hover {
  background: #f0f0f0;
}


/* Force consistent scroll behavior */
.scrollable {
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
  overflow-y: auto;
}
